@font-face {
    font-family: "effra-arabic";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('Effra_Regular.woff2') format('woff2'), local('effra-arabic');
    }
